# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN="token"

# Groq API Key for Whisper transcription
GROQ_API_KEY="key"

# Anthropic API Key for LLM
ANTHROPIC_API_KEY="key"

# OpenAI Base URL for LLM
ANTHROPIC_BASE_URL="https://api.minimax.io/anthropic"

# OpenAI Model for LLM
ANTHROPIC_MODEL="MiniMax-M2.7"

# The token key
TOKEN_KEY='diego_foodtruck_bot_token'

# The JWT secret
JWT_SECRET="secret"

# Admin username
ADMIN_USER="admin"

# Admin password
ADMIN_PASSWORD="password"